body {
	margin-top: 70px;
	background: #eee;
}
#bandeau {
	margin-top: -20px;
	border-bottom: 1px solid grey;
	border-radius: 0;
	color: grey;
}
#bandeau .container {
	background: #fff;
	width: 75%;
	margin-bottom: 0;
	padding-bottom:0;
	padding-top:0;
	border-bottom: none;
	border-radius: 0;
	line-height: 150px;
}
#bandeau .container div address{
	vertical-align:middle;
	display:inline-block;
	margin-left: 15px;
	margin-right: -15px;
}
#topmenu {
	border-radius: 0;
}
#content {
	background: #fff;
	width: 75%;
	margin-top: -20px;
	border-top: none;
	border-radius: 0 0 5px 5px;
}
#footer {
	background: grey;
	margin-top: 20px;
	width: 100%;
	text-align: center;
	height: 40px;
	line-height: 40px;
}
#photo_id {
	border-radius : 10px;
}
.topic {
	margin-top:10px;
}
.topic-header {
	text-align: right;
	font-weight: bold;
	color: #777;
}
.topic-content {
}
.adressemail {
	unicode-bidi: bidi-override;
	direction: rtl;
}